@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* CONFIGURAÇÃO PARA TABLET */

    body {
        background-image: linear-gradient(to top, #0e4c66, #3eb3a1);
    }

    section {
        width: 80vw;
        height: 380px;
    }

    section div#imagem {
        float: right;
        width: 30%;
        height: 100%;
    }

    section div#formulario {
        float: left;
        width: 70%;
    }

    div.campo input {
        padding: 10px;
    }

}

@media screen and (min-width: 992px) {

    /* CONFIGURAÇÃO PARA DESKTOPS */

    body {
        background-image: linear-gradient(to top, #0e4c66, #3eb3a1);
    }

    section {
        width: 940px;
        height: 400px;
    }

    section div#imagem {
        float: right;
        height: 100%;
        width: 40%;
    }

    section div#formulario {
        float: left;
        width: 60%;
    }

    div#formulario h1 {
        padding: 5px;
    }

    div#formulario p {
        padding-left: 5px;
    }

    div.campo input {
        padding: 10px;
    }

    form input[type=submit] {
        margin-top: 30px;
    }

}